!!! 5
%html{:lang => "en"}
	%head
		%meta{:charset => "utf8"}
		%meta{:content => "to fill in", :name => "description"}
		%meta{:content => "", :name => "author"}
		%title Skeleton
		%link{:rel => "stylesheet", :href => "css/bootstrap.css"}
		%link{:rel => "stylesheet", :href => "style.css"}

	%body
		%nav
			%h1
				Hello

		%script{:type => "text/javascript", :src => "js/jquery.js"}
		%script{:type => "text/javascript", :src => "js/test.js"}
